<nav class="navbar navbar-expand-sm navbar-light navbar-ww fixed-bottom">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

        <li class="nav-item active">
          <%= link_to dashboard_path, class: "avatar" do %>
            <%= image_tag("Icon_Dashboard.png", class: "avatar") %>
          <% end %>
        </li>


        <li class="nav-item">
          <%= link_to pages_gameboard_path, class: "avatar" do %>
            <%= image_tag("Icon_Game.png", class: "avatar") %>
          <% end %>
        </li>

        <li class="nav-item dropup dropdown">
          <%# data-turbo="false" disables Turbo Drive for this button, ensuring Bootstrap dropdown works properly %>
          <%# Turbo can interfere with dropdown functionality, so we disable it here for reliable UI behavior %>
          <button class="btn p-0 border-0 bg-transparent avatar dropdown-toggle"
                  id="userMenu"
                  data-turbo="false"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <%# Render user avatar safely: use current_user if present, fall back to default avatar image %>
                  <%= image_tag(
                    "avatars/#{current_user&.avatar.to_s.downcase.presence || 'default'}.png",
                    class: "avatar",
                    alt: "User dropdown menu"
                    ) %>

          </button>
          <div class="dropdown-menu dropdown-menu-end custom-dropup" aria-labelledby="userMenu">
            <%= link_to "My Profile", profile_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
