<main>
  <div class="container">
  <div class="card-dashboard mb-3 mx-auto ">
    <div class="row align-items-start">
      <!-- Avatar + Username in Card Header-->
      <div class="col card-header d-flex justify-content-center align-items-center">
        <h1><%= image_tag("avatars/#{@user.avatar.to_s.downcase.presence || 'default'}.png", alt: "User avatar", style: "width:70px; height:70px; object-fit:cover; border-radius:50%;") %>
        <%= @user.username %>'s Achievements</h1>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <!-- Center Column: Level, Savings, Decision-making -->
      <div class="col-md-11 d-flex flex-column justify-content-center align-items-center text-center">
        <!-- Current Level -->
        <div class="mb-3 text-center">
          <% level_name = @user.level.name %>
          <% if level_name.include?("1") %>
            <strong>Currently in Level 1</strong>
          <% elsif level_name.include?("2") %>
            <strong>Currently in Level 2</strong>
          <% elsif level_name.include?("3") %>
            <strong>Currently in Level 3</strong>
          <% else %>
            <strong>Game not started yet</strong>
          <% end %>
        </div>
        <!-- Total Savings -->
        <div class="mb-2 text-center">
          <h5 class="mb-1">💰 Total savings</h5>
          <p class="mb-0">  <%= number_with_delimiter(@user.balance, delimiter: ",", separator: ".") %> $</p>
        </div>
        <!-- Decision-making Score -->
        <div class="text-center">
          <h5 class="mb-1">✅ Decision-making</h5>
          <p class="mb-0"><%= @user.decision_score %> %</p>
        </div>
      </div>
      <!-- Right Column: Level Icons -->
      <div class="col-md-1 card-text d-flex flex-column align-items-end">
        <% ["icon_level1", "icon_level2", "icon_level3"].each do |icon| %>
          <div class="level-icon mb-3 me-5">
            <%= image_tag(icon, alt: "Level icon", style: "width:70px; height:70px; object-fit:cover; border-radius:50%;") %>
            <div class="overlay"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Continue Button -->
  <div class="text-center">
   <%= link_to "Continue Your Journey", pages_gameboard_path , class: "btn btn-primary btn-lg mt-3" %>
  </div>
  </div>
</main>
