<main>
  <div class="card-dashboard mb-3 mx-auto ">
    <div class="card-body">
      <div class="row align-items-start">
        <!-- Avatar + Username in Card Header-->
        <div class="col card-header d-flex justify-content-center align-items-center">
          <h1><%= image_tag("avatars/#{@user.avatar.to_s.downcase.presence || 'default'}.png", alt: "User avatar", style: "width:70px; height:70px; object-fit:cover; border-radius:50%;") %>
          <%= @user.username %>'s Achievements</h1>
        </div>
      </div>

      <div class="row align-items-start mb-3">
          <!-- Total Savings -->
          <div class="mb-1 text-center">
            <p class="mb-0"> 💰 You have <strong><%= number_with_delimiter(@user.balance.to_i, delimiter: ",", separator: ".") %>$</strong> savings</p>
          </div>
          <div class="mb-1 text-center">
            <p class="mb-0"> ✍🏽 You completed <%= @user.level.challenges.count %> challenges in level
            <% level_name = @user.level.name %>
            <% if level_name.include?("1") %>
              1
            <% elsif level_name.include?("2") %>
              2
            <% elsif level_name.include?("3") %>
              3
            <% else %>
              0
            <% end %>
          </p>
          </div>
          <!-- Decision-making Score -->
          <div class="mb-1 text-center">
            <p class="mb-0"> ✅ <%= @user.decision_score.to_i %>% of your choices were correct </p>
          </div>
      </div>

      <!-- Level Progress & Icon -->
      <div class= "mt-5">
        <!-- Row for level 1 -->
        <div class="row align-items-start">
          <div data-controller="chart" class="col-md-11 d-flex flex-column justify-content-center align-items-center text-center pe-5">
            <div class="mb-0" style="width: 100%; max-width: 600px; height: 60px;">
              <p class ="mb-0 text-start"> Progress Level 1 </p>
              <canvas data-chart-target="level" data-level="1"
                      data-user-balance="<%= current_user.balance %>"
                      data-user-level="<%= current_user.level.name %>">
              </canvas>
            </div>
          </div>
          <div class="col-md-1 card-text d-flex flex-column align-items-end pe-5"
            data-controller="levels"
            data-levels-current-level-value="<%= current_user.level.name %>">
            <div class="level-icon mb-3 me-5" data-levels-target="icon" data-levels-level-value="1">
              <%= image_tag("icon_level1.png", alt: "Icon Level 1", style: "width:80px; height:80px; object-fit:cover; border-radius:50%;") %>
              <div class="overlay"></div>
            </div>
          </div>
        </div>

        <!-- Row for level 2 -->
        <div class="row align-items-start">
          <div data-controller="chart" class="col-md-11 d-flex flex-column justify-content-center align-items-center text-center pe-5">
            <div class="mb-0" style="width: 100%; max-width: 600px; height: 60px;">
              <p class ="mb-0 text-start"> Progress Level 2 </p>
              <canvas data-chart-target="level" data-level="2"
                      data-user-balance="<%= current_user.balance %>"
                      data-user-level="<%= current_user.level.name %>">
              </canvas>
            </div>
          </div>
          <div class="col-md-1 card-text d-flex flex-column align-items-end pe-5"
            data-controller="levels"
            data-levels-current-level-value="<%= current_user.level.name %>">
            <div class="level-icon mb-3 me-5" data-levels-target="icon" data-levels-level-value="2">
              <%= image_tag("icon_level2.png", alt: "Icon Level 2", style: "width:80px; height:80px; object-fit:cover; border-radius:50%;") %>
              <div class="overlay"></div>
            </div>
          </div>
        </div>

        <!-- Row for level 3 -->
        <div class="row align-items-start">
          <div data-controller="chart" class="col-md-11 d-flex flex-column justify-content-center align-items-center text-center pe-5">
            <div class="mb-0" style="width: 100%; max-width: 600px; height: 60px;">
              <p class ="mb-0 text-start"> Progress Level 3 </p>
              <canvas data-chart-target="level" data-level="3"
                      data-user-balance="<%= current_user.balance %>"
                      data-user-level="<%= current_user.level.name %>">
              </canvas>
            </div>
          </div>
          <div class="col-md-1 card-text d-flex flex-column align-items-end pe-5"
            data-controller="levels"
            data-levels-current-level-value="<%= current_user.level.name %>">
            <div class="level-icon mb-3 me-5" data-levels-target="icon" data-levels-level-value="3">
              <%= image_tag("icon_level3.png", alt: "Icon Level 3", style: "width:80px; height:80px; object-fit:cover; border-radius:50%;") %>
              <div class="overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Continue Button -->
  <div class="text-center">
   <%= link_to "Continue Your Journey", pages_gameboard_path , class: "btn btn-primary btn-lg mt-3" %>
  </div>
</main>
