<main>
  <div class="card-dashboard mb-4">
    <!-- Avatar + Username in Card Header-->
    <div class="card-header d-flex justify-content-center align-items-center">
      <h1><%= image_tag("avatars/#{@user.avatar.to_s.downcase.presence || 'default'}.png", alt: "User avatar", style: "width:70px; height:70px; object-fit:cover; border-radius:50%;") %>
      <%= @user.username %>'s Achievements</h1>
    </div>
    <!-- View current Level-->
    <div class="card-text d-flex justify-content-center align-items-center">
      <% level_name = @user.level.name %>
      <% if level_name.include?("1") %>
        Currently in Level 1
      <% elsif level_name.include?("2") %>
        Currently in Level 2
      <% elsif level_name.include?("3") %>
        Currently in Level 3
      <% else %>
        Game not started yet
      <% end %>
    </div>
    <!-- Add Balance and decision making score-->
    <div class="card-text d-flex justify-content-center align-items-center gap-5">
      <h5> Balance:</h5>
      <p><%= @user.balance %></p>
      <h5> Decision-making:</h5>
      <p> <%= @user.decision_score %> </p>
    </div>
    <!-- Level Icon as Badges-->
    <div class="card-text d-flex justify-content-center align-items-center">
      <% ["icon_level1", "icon_level2", "icon_level3"].each do |icon| %>
        <div class="level-icon">
          <%= image_tag(icon, alt: "Level icon", style: "width:70px; height:70px; object-fit:cover; border-radius:50%;") %>
          <div class="overlay"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
   <%= link_to "Continue Your Journey", pages_gameboard_path , class: "btn btn-primary btn-lg mt-5" %>
  </div>
</main>
