<main>
  <div class="container text-center position-relative">
    <!-- Gold Rain Effect -->
    <div data-controller="gold-rain"
         data-gold-rain-mode-value="fullscreen"
         data-gold-rain-duration-value="5000"
         data-gold-rain-intensity-value="2"
         data-gold-rain-auto-trigger-value="true">
    </div>

    <!-- Overlay Header -->
    <div class="overlay-header mb-4">
      <% if @user&.level&.name&.include?("2") %>
        <h3>Congratulations,</h3>
        <h3 class="mb-4"> you completed Level 1!</h3>
        <%= image_tag "icon_level1.png", alt: "Level 1", class: "img-fluid mb-3", style: "max-width: 150px;" %>
        <p class=lead>
          You’ve successfully built your first nest egg of $10,000!
          This is a crucial milestone on your financial journey.
          A solid nest egg provides security, peace of mind, and the foundation to grow your wealth responsibly.
        </p>
      <% end %>

      <% if @user&.level&.name&.include?("3") %>
        <h3>Congratulations,</h3>
        <h3 class="mb-4"> you completed Level 2!</h3>
        <%= image_tag "icon_level2.png", alt: "Level 2", class: "img-fluid mb-3", style: "max-width: 150px;" %>
        <p class=lead>
          You’ve started building passive streams of income that work for you even while you focus on other adventures.
          This milestone is key to financial freedom, helping you grow wealth steadily and securely.
        </p>
      <% end %>

      <% if @user&.level&.name&.include?("completed") %>
        <h3>Congratulations,</h3>
        <h3 class="mb-4"> you completed Level 3!</h3>
        <%= image_tag "icon_level3.png", alt: "Level 3", class: "img-fluid mb-3", style: "max-width: 150px;" %>
        <p class=lead>
          You’ve mastered managing multiple streams, balancing risks and rewards, and discovering how to maximize your earnings.
        </p>
      <% end %>
    </div>


    <!-- Buttons -->
    <div class="mt-4 d-flex justify-content-center gap-3">
      <% if @user&.level&.name&.include?("1") ||
            @user&.level&.name&.include?("2") ||
            @user&.level&.name&.include?("3") %>
        <%= link_to "Start Next Level",
                    pages_gameboard_path(from: "landing_continue"),
                    class: "btn btn-lg btn-primary" %>
      <% end %>
      <%= link_to "View Dashboard", dashboard_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</main>
