<p> Show </p>
<p>Title: <%=@challenge.title%> </p>
<p>Category: <%=@challenge.category%></p>
<p>Difficulty <%=@challenge.difficulty%></p>
<p> Description: <%=@challenge.description%></p>
<p> Choice:<%=@challenge.challenge_prompt%> </p>
